@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

body {
    font-family: Ubuntu;
}
body, #meni ul {
    margin: 0;
}

#meni {
    background-color: #7fb77e;
    position: sticky;
    top: 0;
}

#meni li {
    list-style: none;
}

#meni>ul>li {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px
}

#meni>ul {
    padding: 0;
    display: inline-block;
}
.naziv_odsjeka {
    font-size: xx-large;
}
.ciklus_godina {
    font-size: x-large;
}
.predmet {
    text-align: center;
    width: 200px;
    background-color: #F7F6DC;
    border-radius: 8px;
    border: 2px solid #FFC090;
    padding: 12px;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
}