@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

body {
    font-family: Ubuntu;
}

body,
#meni ul {
    margin: 0;
}

#meni {
    background-color: #27717c;
    position: sticky;
    top: 0;
}

#meni li {
    list-style: none;
}

#meni>ul>li {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px
}

#meni>ul {
    padding: 0;
    display: inline-block;
}

.naziv_odsjeka {
    font-size: xx-large;
    padding: 10px;
}

.ciklus_godina {
    font-size: x-large;
    padding-left: 20px;
}

.predmet {
    text-align: center;
    width: 200px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #0f2b2f;
    padding: 12px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
}

.ikonica {
    font-size: xx-large;
}

.izborni {
    background-color: powderblue;
}

.ne_ide {
    background-color: gray;
}

#meni a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 8px;
}

#meni a:hover {
    color: #27717c;
    background-color: white;
}

#meni>ul>li>a {
    font-size: larger;
    text-transform: uppercase;
}

.menu_target::before {
    display: block;
    content: " ";
    margin-top: -141px;
    height: 141px;
    visibility: hidden;
    pointer-events: none;
}