@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

body {
    font-family: Ubuntu;
    margin: 0;
}

.cas_vrsta {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.nije_prisutan>div {
    background-color: red;
}

.prisutan>div {
    background-color: green;
}

.nije_uneseno>div {
    background-color: white;
}

.prisutan>div,
.nije_prisutan>div,
.nije_uneseno>div {
    border-radius: 10px;
    height: 30px;
}

#naziv_predmeta::before {
    content: "Predmet: ";
}

#naziv_ciklusa_studija::before {
    content: "Ciklus studija: "
}

#godina_studija::before {
    content: "Godina studija: "
}

#naziv_odsjeka::before {
    content: "Odsjek: ";
}

#info_predmet>::before {
    text-transform: uppercase;
}

#info_predmet {
    background-color: #27717c;
    color: white;
    padding-left: 20px;
}

#info_predmet>div {
    padding: 8px;
}

#tabela_prisustvo {
    padding: 20px 0px 20px 20px;
}

#tabela_prisustvo th:first-of-type {
    border-top-left-radius: 10px;
}

#tabela_prisustvo th:last-of-type {
    border-top-right-radius: 10px;
}

#tabela_prisustvo tr:nth-last-of-type(2) td:first-of-type {
    border-bottom-left-radius: 10px;
}

#tabela_prisustvo tr:nth-last-of-type(2) td:last-of-type {
    border-bottom-right-radius: 10px;
}

#tabela_prisustvo tr:nth-child(4n)>td,
#tabela_prisustvo tr:nth-child(1)>th,
#tabela_prisustvo tr:nth-child(4n+5)>td {
    background-color: #92D4DD;

}

#tabela_prisustvo tr:nth-child(4n+2)>td,
#tabela_prisustvo tr:nth-child(4n+3)>td {
    background-color: #D0ECF0;
}

#tabela_prisustvo td,
#tabela_prisustvo th {
    padding: 12px;
}

#tabela_prisustvo table {
    border-collapse: collapse;
}

/* #tabela_prisustvo tr th:nth-last-child(-n+7),
#tabela_prisustvo tr:nth-child(2n+2) td:last-child {
    padding: 6px;
} */

#tabela_prisustvo th {
    text-align: start;
}

#tabela_prisustvo tr:nth-child(2n+3)>td {
    padding: 3px 3px;
}

#tabela_prisustvo {
    overflow-x: auto;
}

#tabela_prisustvo {
    display: flex;
    flex-direction: row;
}

#bugfix {
    width: 20px;
    min-width: 20px;
}