@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

body {
    font-family: Ubuntu;
    margin: 0;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

.cas_vrsta {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.nije_prisutan {
    background-color: red;
}

.prisutan {
    background-color: green;
}

.prisutan,
.nije_prisutan,
nije_uneseno {
    height: 10px;
}

td,
th {
    padding: 5px;
}

#naziv_predmeta::before {
    content: "Predmet: ";
}

#naziv_ciklusa_studija::before {
    content: "Ciklus studija: "
}

#godina_studija::before {
    content: "Godina studija: "
}

#naziv_odsjeka::before {
    content: "Odsjek: ";
}

#info_predmet>::before {
    text-transform: uppercase;
}

#info_predmet {
    background-color: #27717c;
    color: white;
    padding-left: 20px;
}

#info_predmet>div {
    padding: 8px;
}