@import url(https://fonts.googleapis.com/css2?family=Ubuntu);

body {
    font-family: Ubuntu;
}

body,
#meni ul {
    margin: 0;
}

#meni {
    background-color: #27717c;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

#meni li {
    list-style: none;
}

#meni>ul {
    padding: 0;
}

#meni li,
#logout {
    text-decoration: none;
    color: white;
    padding: 8px;
}

#meni li {
    display: inline-block;
}

#meni li:hover,
#meni .odabran,
#logout:hover {
    color: #27717c;
    background-color: white;
}

#message {
    padding: 20px;
}

#logout {
    text-transform: uppercase;
    min-width: fit-content;
    height: fit-content;
}

/* #meni li:hover,
#logout:hover {
    cursor: default;
} */